.divDet{
    /* background-color: rgba(177, 187, 35, 0.137); */
    display: flex;
    flex-direction: row;
    padding-left: 12vw;

}

.divCont{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:2rem;
}

.divTxD{
    width: 35vw;
    background-color: rgba(156, 114, 65, 0.485);
    border: 1px solid burlywood;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    -moz-osx-smoothing: graysacle;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}

.divTxD:hover{
    transform: scale(1.05);
}



.imgDetail{
    width: 30vw;
    height: 30vw;
    border-radius: 15em;
    margin-top: 1rem;
    filter:saturate(200%);
    opacity: 0.85;
    border: 20px solid rgba(206, 203, 28, 0.304);

}

.h3d{
    color: rgb(255, 255, 255);
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.4em;
}
.h3d:hover{
    color: black;
}
.linkReturn{
    background-color: rgb(25, 6, 6);
    width: 5em;
    height: 2em;
    border-radius: 5px;
    padding: 4px;
    font-size: larger;
    text-align: center;
    margin-left: 15vw;
    font-weight: 900;
    margin-top: 10px;
}