img{
    width:18vw;
    height:18vw;
    border-radius: 12px;
    opacity: 0.82;
}

.divCar{
    display: flex;
    flex-direction: column;
    background-color: rgba(136, 95, 6, 0.575);
    border: 1px solid burlywood;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-smoothing: graysacle;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}

.divCar:hover{
    transform: scale(1.05);
}