.divMain {
    display: flex;
    flex-direction: row;
}
.divImage {
    /* background-image: url('https://st2.depositphotos.com/1106005/8592/i/450/depositphotos_85929920-stock-photo-black-and-white-doggy-tile.jpg'); */
    background-image: url('../images/form2.png');
    height: 47.6vw;
    width: 46.2vw;
    background-size: contain;
    background-position: top, center;
    background-attachment: fixed;
    opacity: 0.7;

}

.divText {
    width: 50vw;
    text-align: center;
    margin-right: 3.2em;
}


.divTextos{
    margin: 9em;
    margin-top: 1em;
    position: fixed;
}
.h2Welcome{
    font-family:cursive;
    color: rgb(104, 10, 10);
}