.divImage{
    background-image: url('https://st2.depositphotos.com/1106005/8592/i/450/depositphotos_85929920-stock-photo-black-and-white-doggy-tile.jpg');
    /* background-color: aqua; */
    height: 100vw;
    width: 50vw;
  /* background-repeat: no-repeat; */
  /* margin-left: 25vw; */
  background-size:contain;
  background-position:top,center;
   background-attachment: fixed;
  
}
.divText{
    height: 100vw;
    width: 50vw;
    text-align: center;
}


.divMain{
    display:flex;
    flex-direction: row;
}