.divBar {
    background-color: rgba(0, 191, 255, 0.26);
    width: 97.2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 5em;
    position: absolute;
    top: 0px;
}

.selectFilters{
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bolder;
}