.divBar {
    background-color: rgba(134, 28, 28, 0.384);
    width: 97.2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 5em;
    position: absolute;
    top: 0px;
}

.selectFilters{
    background-color: rgb(83, 4, 4);
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bolder;
}